.content-sidebar{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    @include breakpoint($md){
        width: 30%;
    }

    .sb{
        &__heading{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 24px;
        }

        &__feature-list{
            margin-bottom: 1rem;
            padding: 1rem 0.25rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 0.85rem;

            a{
                color: white;
                text-decoration: none;
            }

            .fl{
                &__row{
                    margin: unset;
                    display: flex;
                    gap: 1rem;
                }

                &__col{
                    margin: unset;

                    &:first-child{
                        width: auto;
                        min-width: 3rem;
                        text-transform: uppercase;

                        @include breakpoint($md){
                            width: auto;
                        }
                    }
                }

                &__title{

                }

                &__desc{

                }

            }
        }

        &__map{
            display: flex; // img whitespace fix
            img{
                max-width: 100%;
            }
        }
    }
}