.site-header {
	display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 99;
    //background-color: rgba(255,255,255, 0.5);
    
    .inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        padding-left: 30px;
        padding-right: 30px;

        @include breakpoint($md){
            @include container($h-gutter__base: 40px);
        }

    }

    .header{
        &__logo{
            a{
                display: block;
            }
            
            img{
                width: 300px;
                display: flex;;
            }
        }

        &__nav{
            // For nav, see nav.scss.
        }
    }
}
