/* Header Widgets */
.header-widgets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 0;
    transition: background-color 0.5s ease-in-out;
    z-index: 99999;

    padding: 1rem var(--e-global-sm-viewport_gutter-h);
}
.header-widgets.scrolled {
    background-color: #f3f3f3;
}

.header-widget-area {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}

.header-widget img {
    width: 100px;
    height: auto;
    position: relative;
    left: -1rem;

    @include breakpoint($md) {
        width: 205px;
    }
}