@mixin build_hamburger-line(){
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;

}

.icon{
    
    //Hamburger icon
    &__hamburger{
        display: block;
        position: relative;
        @include build_hamburger-line();
        

        &:before{
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            
            @include build_hamburger-line();
        }

        &:after{
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            
            @include build_hamburger-line();
        }
    }

}