.section{

    &--content,
    &__content{
        .inner{
            @include container($h-gutter__base: 40px);
            padding-bottom: 3rem;

            @include breakpoint($md){
                padding-top: 5em;
            }
        }

        .content{

            &__heading{
                text-transform: uppercase;
                
                @include _stacked-heading();
            }

            &__image-block{
                
                @include breakpoint($md-down){
                    display: none;
                }

                overflow: hidden;
                max-width: 100%;
                padding-left: 1rem;

                img{
                    max-width: 100%;
                }
            }

            &__wrapper{
                &.col{
                    padding-right: 3rem;
                }
            }
        }
    }

    &__page-intro{
        padding-top: 2rem; 

        @include breakpoint($md) {
            padding-top: 3rem;

            .col-wrapper{
                justify-content: space-between;
            }

            .col{
                width: unset;
            }
            
            .pi{
                &__title{
                    margin: unset;
                    max-width: 20rem;
                    text-transform: capitalize;
                    color: map-get($site-colours, 'blue');
                    padding: 1rem 0;
                    
                }

                &__body{
                    min-height: 5rem;                    
                    width: unset;
                    flex: 0 1 auto;
                    width: 30rem;
                    border-left: 2px solid map-get($site-colours, 'l-blue');
                    padding-left: 2rem;
                }
            }
        }
    }

    &__wall-grid{
        
    }

    &__featured-project-grid{
        .inner{
            @include container($h-gutter__base: 40px);
            padding-top: 3rem;
            padding-bottom: 3rem;

            @include breakpoint($md){
                padding-top: 5em;
            }
        }

        .fpg{
            &__body{
                @include breakpoint($md-down){
                    display: none;
                }
            }
        }
    }

    &__site-plan{
        .inner{
            @include container($h-gutter__base: 40px);
            padding-top: 3rem;
            padding-bottom: 3rem;

            @include breakpoint($md){
                padding-top: 5em;
            }
        }

        .site-plan{
            @include breakpoint($md){
                gap: 3rem;
                justify-content: space-between;
            }
            
        }

        .sp{
            &__content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 2rem;
            }

            &__img-block{
                display: flex;
                justify-content: flex-end;
                margin: unset;
                
                img{
                    max-width: 100%;
                }
            }
        }
    }

    &__contact-form{

        .inner{
            margin-bottom: 3rem;
        }

        .col-wrapper{
            gap: 3rem;
        }

        .content-body{
            @include breakpoint($md){
                width: calc(70% - 3rem);
            }

            .user-form{
                padding-top: 2rem;
            }
        }

    }

    &--client-grid{
        --size: clamp(6rem, 8rem, 10rem);
        --gap: 1.5rem;
        --duration: 60s;
        --scroll-start: 0;
        --scroll-end: calc(-100% - var(--gap));

        @include breakpoint($md) {
            //--size: clamp(10rem, 1rem + 35vmin, 30rem);
        }
        
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 100vw;
    
        .inner{
            width: 100%;
            //@include container();
        }
        
        
        ul{
            list-style: none;
            margin: unset;
            padding: unset;
    
            li{
    
                img{
                    max-width: 200px;
                    max-height: 130px;
    
                    @include breakpoint($md) {
                        max-width: 230px;
                        max-height: 140px;
                    }
                }
            }
        }
        
        .marquee {
            display: flex;
            overflow: hidden;
            user-select: none;
            gap: var(--gap);
            mask-image: linear-gradient(
            var(--mask-direction, to right),
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 1) 10%,
                hsl(0 0% 0% / 1) 90%,
                hsl(0 0% 0% / 0));
        
            .mq{
    
                &__group {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: var(--gap);
                    min-width: 100%;
                    animation: scroll-x var(--duration) linear infinite;
                }
                
                &__item {
                    display: grid;
                    place-items: center;
                    width: var(--size);
                    @include padding-x(calc(var(--size) / 10));
    
                    a:hover{
                        animation-play-state: paused;
                    }
                }
            }
                  
                  
            @keyframes scroll-x {
                from {
                    transform: translateX(var(--scroll-start));
                }
                to {
                    transform: translateX(var(--scroll-end));
                }
            }
                
            @keyframes fade {
                to {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        
    }

    // .section--cta-block
    &--cta-block{
        .inner{
            @include container($h-gutter__base: 40px);
            @include padding-y(2rem);

            display: flex;
            justify-content: space-between;

            @include breakpoint($md-down){
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        .ctab{
            
            &__heading{
                @include _stacked-heading();

                .bottom-line{
                    font-size: 1.5rem;
                    font-weight: 800;
                }
            }

            &__link-wrapper{

                @include breakpoint($md-down){
                    margin-top: 1rem;
                }
            }
        }
    }

    // .section--featured-projects
    &--featured-projects{
        
    }

    &--incentives-block{
        .inner{
            @include container($h-gutter__base: 40px);
            @include padding-y(2rem);

            @include breakpoint($md){
                flex-direction: row;
                @include padding-y(4rem);
            }
        }

        .ib{
            &__heading{
                @include _stacked-heading();

                .bottom-line{
                    font-size: 1.5rem;
                    font-weight: 800;
                }
            }
        }
    }

    &--testimonials{
        margin-bottom: 2rem;
        
        .inner{
            @include container($h-gutter__base: 40px);
            @include padding-y(2rem);
        }

        .rv{
            &__heading{
                @include _stacked-heading2();
                
                font-size: 1.5rem;
                font-weight: 800;
            }
        }
    }


    // Color variations
    &__grey{
        background-color: map-get($site-colours, 'grey');
    }

}



