.section__service-process{
    .inner{
        @include container($h-gutter__base: 40px);
    }

    .pagination{
        @include breakpoint($md){
            padding-top: 2rem;
        }
    }
}

.service-process{
    $_grid-gap: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: $_grid-gap;

    @include breakpoint($md){
        
    }

    .sp{
        &__item{
            position: relative;

            .item{
                
            }
        }
    }
}