@mixin _display-helpers($prefix: '.') {
	#{if(&, '&', '')}#{$prefix}d {
		&-flex {
			display: flex !important;
		}

		&-inline-flex {
			display: inline-flex !important;
		}

		&-block {
			display: block !important;
		}

		&-inline-block {
			display: inline-block !important;
		}

		&-none {
			display: none !important;
		}
	}
}
