@mixin _flex-helpers($prefix: '.') {
	#{if(&, '&', '')}#{$prefix}flex {

		&-row {
			flex-direction: row !important;
		}

		&-column {
			flex-direction: column !important;
		}

		// Basis
		&-basis-100 {
			flex-basis: 100% !important;
		}

		&-basis-auto {
			flex-basis: auto !important;
		}

		&-center-all {
			align-items: center;
			justify-content: center;
		}

		&-wrap {
			flex-wrap: wrap;
		}
	}

	// Justify content
	#{if(&, '&', '')}#{$prefix}justify-content {
		&-between {
			justify-content: space-between !important;
		}

		&-center {
			justify-content: center !important;
		}

		&-start {
			justify-content: flex-start !important;
		}
	}

	// Align items
	#{if(&, '&', '')}#{$prefix}align-items {
		&-center {
			align-items: center !important;
		}
	}
}
