// General helpers and common stuff

// BG  colour classes based on variable colours
@include _bg-colours();
@include _text-colours();
@include _stroke-colours();

@include _all-paddings('.');
@include _all-margins('.');
@include _content-helper-classes('.');
@include _text-helper-classes;

@include _display-helpers('.');
@include _flex-helpers('.');


// SM breakpoint
/* -- Uncomment as required -- */
.sm {
	@include breakpoint($md-down) {
		@include _all-paddings('-');
		@include _all-margins('-');

		//@include _display-helpers('-');
		//@include _flex-helpers('-');
		//@include _content-helper-classes('-');
	}
}


// MD breakpoint
/* -- Uncomment as required -- */
.md {
	@include breakpoint($md) {
		@include _all-paddings('-');
		@include _all-margins('-');

		//@include _display-helpers('-');
		//@include _flex-helpers('-');
	}
}

// LG breakpoint
/* -- Uncomment as required -- */
.lg {
	@include breakpoint($lg) {
		@include _all-paddings('-');
		@include _all-margins('-');

		//@include _display-helpers('-');
		//@include _flex-helpers('-');
	}
}


// XL breakpoint
/* -- Uncomment as required -- */

.xxl {
	//@include custom-offsets('xxl');
}




// Reset -----
ul{
	margin: unset;
	padding: unset;
	list-style: none;
}



// Custom helpers and stuff

.no-scroll{
	overflow: hidden;
}